body { 
	color: #000;
	background-color: #FFF;
	font-family: Calibri, Arial, sans-serif;
	font-size: 10pt;
}

.title {
	font-size: 18pt;
	font-weight: bold;
}

hr {
	border: 0px;
	height: 1px;
	background: #000;
}

p {
	margin: 0px;
}

.entitybox {
	margin-top: 10px;
	border: 1px solid #3060ff;
	background-color: #d8e7ff;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;	
}

.entitysummary {
	font-size: 16pt;
	color: #ffffff;
	background-color: #3060ff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

.packagesummary {
	font-size: 12pt;
}

.suites {
	padding-bottom: 10px;
}

.entity {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;	
	padding-left: 10px;
}

.entitybox > .entity ~ .entity {
	border-top: 1px solid #9bb1ff;
}

.entityheader {
	font-size: 14pt;
	padding-bottom: 4px;
}

.entityname {
	font-weight: bold;
	display: inline;
	margin: 0px;
	padding: 0px;
}

.entitytitle {
	font-style: italic;
	display: inline;
	padding-left: 10px;
}

.fullentityname {
	font-size: 8pt;
}

.entitydetails {
	padding-top: 10px;
	margin-left: 4px;
	padding-bottom: 0px;
	margin-bottom: 4px;
	border-left: 1px solid #000;
}

.entitydescription {
	padding-left: 10px;
}

.entitydescription p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.entityparams {
	margin-left: 10px;
	margin-top: 14px;
}

.entityparams table {
	padding-left: 6px;
}

.entityparams tr td:first-child {
	padding-right: 10px;
}

.code {
	font-family: 'DejaVu Sans Mono', monospace;
}

.bold {
	font-weight: bold;	
}

.italic {
	font-style: italic;	
}

.mandatory {
	font-weight: bold;	
}

.hidden {
	display: none;	
}

.header1 {
	font-weight: bold;
	font-size: 18px;
}

.header2 {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
}

table th.shrink {
    white-space: nowrap;
}

table th.expand {
    width: 50%;
}

table td.shrink {
    white-space: nowrap;
}

table td.expand {
    width: 50%;
}

.enumvalues {
	margin-top: 3px;
	border: 1px solid #000;
}

.enumvalues .header {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

.enumvalues .content {
	padding-left: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
}

.enumtype {
	cursor: pointer;
}

.uptriangle:after {
	content: '\25B2';
	position: relative;
	left: 2px;
}

.downtriangle:after {
	content: '\25BC';
	position: relative;
	left: 2px;
}

.detailstitle {
	font-weight: bold;
	margin-bottom: 2px;
}

#packagetree div {
	font-weight: bold;
	height: 16px;
}

.nav_line { 
	height: 16px; 
	width: 16px; 
	float: left;
	margin-right: 2px;
}

.nav_linedown { 
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAFElEQVR42mJghAAGBhhjZAsABBgAeBAA4e5umaMAAAAASUVORK5CYII=");
	background-repeat: no-repeat; 
	background-position: 0px 0px; 
}

.nav_linedownright { 
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAGklEQVR42mJghAAGBhiDzgIwgFuArg4DCDAAcN8A06la0gYAAAAASUVORK5CYII=");	
	background-repeat: no-repeat; 
	background-position: 0px 0px;
}

.nav_lineright {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAG0lEQVR42mJghAAGBhiDzgIwgEsADugjABBgAHQgAOGUOc3nAAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#treecontainer {
	float: left;
	min-width: 200px;
}

#maincontainer {
	padding-left: 10px;
	overflow: hidden;
}

#treeindexlink {
	font-weight: bold;
	margin-bottom: 10px;	
}

.constanttable {
	border-collapse: collapse;
	width: calc(100% - 20px);
	margin: 10px;
	border-spacing: 0px;
}

.constanttable span {
	margin: 0px;
}

.constanttable span:after {
	content: ", ";
}

.constanttable span:last-child:after {
	content: "";
}

.constanttable th, .constanttable td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

.constanttable th {	
	margin: 0px;
	text-align: left;
}

.constanttable td {
	border-bottom: 1px solid #9bb1ff;
}

.constanttable th {
	border-bottom: 1px solid #9bb1ff;
}

.constanttable td table {
	margin: 0px;
	width: 100%;
	border-spacing: 0px;
}

.constanttable td table tr:last-child td {
	border-bottom: none;
}

.constanttable td table td:first-child {
	font-weight: bold;
	border-right: 1px solid #9bb1ff;
}

#searchbox {
	margin-top: 20px;
	text-align: center;
}

#searchtext {
	width: 300px;
	border: 1px solid #000000;
	padding: 4px;
}

#searchbutton {
	padding: 3px;
}

#searchresults {
	padding: 10px;
}

.emptyresult {
	font-weight: bold;
	font-size: 14pt;
	color: #aa0000;
	text-align: center;
}

.searchresult {
	width: 100%;
	padding-bottom: 10px;
	margin-top: 16px;
}

.searchresult .packagename {
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.searchresult iframe {
	width: 100%;
	height: 300px;
	margin-top: 10px;
	border: 1px solid #000000;
}

mark {
	background-color: #ff9900;
}

.jumpmark {
	background-color: #ffcc33;
}

.searchhits {
	float: right;
	font-size: 10pt;
	font-weight: bold;
}

.searchhitprev {
	margin-left: 10px;
}

.searchhitprev:after {
	content: '\25B2';
}

.searchhitnext {
	margin-left: 3px;
}

.searchhitnext:after {
	content: '\25BC';
}